<div class="fadein">
    <section class="container">
        <div class="bs-component">
            <form class="form-horizontal" *ngIf="Entity" (ngSubmit)="Save()" #fighterForm="ngForm">
                <fieldset>
                    <legend>{{ Entity.Name | uppercase }} | {{ Entity.Id }} </legend>
                </fieldset>
                <div class="row">
                    <div class="col-sm-8">
                        <label for="name" class="col-md-12 control-label">Name</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="name"
                                   required
                                   [(ngModel)]="Entity.Name" placeholder="Name"
                                   #name="ngModel">
                            <div [hidden]="name.valid || name.pristine"
                                 class="validation-error">
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="hp" class="col-md-12 control-label">Hp</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="hp"
                                   required
                                   [(ngModel)]="Entity.Hp" placeholder="Hp"
                                   #hp="ngModel">
                            <div [hidden]="hp.valid || hp.pristine"
                                 class="validation-error">
                                Hp's value is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="strength" class="col-md-12 control-label">Strength</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="strength"
                                   required
                                   [(ngModel)]="Entity.Strength" placeholder="Strength"
                                   #strength="ngModel">
                            <div [hidden]="strength.valid || strength.pristine"
                                 class="validation-error">
                                Strength's value is required
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="resistance" class="col-md-12 control-label">Resistance</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="resistance"
                                   required
                                   [(ngModel)]="Entity.Resistance" placeholder="Resistance"
                                   #resistance="ngModel">
                            <div [hidden]="resistance.valid || resistance.pristine"
                                 class="validation-error">
                                Resistance's value is required
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="precision" class="col-md-12 control-label">Precision</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="precision"
                                   required
                                   [(ngModel)]="Entity.Precision" placeholder="Precision"
                                   #precision="ngModel">
                            <div [hidden]="precision.valid || precision.pristine"
                                 class="validation-error">
                                Precision's value is required
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="dodge" class="col-md-12 control-label">Dodge</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="dodge"
                                   required
                                   [(ngModel)]="Entity.Dodge" placeholder="Dodge"
                                   #dodge="ngModel">
                            <div [hidden]="dodge.valid || dodge.pristine"
                                 class="validation-error">
                                Dodge's value is required
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="speed" class="col-md-12 control-label">Speed</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="speed"
                                   required
                                   [(ngModel)]="Entity.Speed" placeholder="Speed"
                                   #speed="ngModel">
                            <div [hidden]="speed.valid || speed.pristine"
                                 class="validation-error">
                                Speed's value is required
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="skill" class="col-md-12 control-label">Skill</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="skill"
                                   required
                                   [(ngModel)]="Entity.Skill" placeholder="Skill"
                                   #skill="ngModel">
                            <div [hidden]="skill.valid || skill.pristine"
                                 class="validation-error">
                                Skill's value is required
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="text-right col-sm-12">
                        <button type="reset" class="btn btn-default" (click)="Cancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!fighterForm.form.valid">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <span class="alert alert-danger" *ngIf="Error">
        {{Error.message}} | {{Error.status}}
    </span>
</div>
